{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container-fluid justify-content-center text-white">
    <div class="container-lg">
        <!--User Information-->
        <div class="row justify-content-start mt-3">
            
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2">
                            {{current_user.name}}
                        </h2>
                        <h2 class="fw-bold mb-2">
                            {{current_user.email}}
                        </h2>
                    </div>      
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <!--Featured Shows-->
            <div class="col-9">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <div class="row">
                            <h2>Recently Completed Shows</h2>
                            <form method="POST" action='/modify_list'>
                                <input type="hidden" name="type" value = "default">
                                <input type="hidden" name="list_name" value = "Completed">
                                <button type= "submit" class="btn btn-outline-light btn-block">
                                    Modify List
                                </button>
                            </form>
                        </div>
                        <!--Recently Completed Shows-->
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="row">
                                {% for show in shows[-5:] %}
                            
                                <div class="col-6 col-md-4 col-lg-2 text-center">
                                    <img src={{show.imgURL}} alt="poster" class="img-fluid">
                                    <a href={{show.info_link}}>
                                        <button class="btn btn-outline-light btn-block mt-1">
                                            {{show.name}}
                                        </button></a>
                                </div>
                                {% endfor %}  
                            </div>
                            
                        </div>
                        <div class="row">
                            <h2>Recently Favourited Shows</h2>
                            <form method="POST" action='/modify_list'>
                                <input type="hidden" name="type" value = "default">
                                <input type="hidden" name="list_name" value = "Favourite">
                                <button class="btn btn-outline-light btn-block">
                                    Modify List
                                </button>
                            </form>
                        </div>
                        <!--Recently Favourited Shows-->
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="row">
                                {% for show in shows2[-5:] %}
                            
                                <div class="col-6 col-md-4 col-lg-2 text-center">
                                    <img src={{show.imgURL}} alt="poster" class="img-fluid">
                                    <a href={{show.info_link}}>
                                        <button class="btn btn-outline-light btn-block mt-1">
                                            {{show.name}}
                                        </button></a>
                                </div>
                                {% endfor %}  
                            </div>
                            
                        </div>
                    </div>           
                </div>                 
            </div>
            <!--Friend List-->
            <div class="col-3">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="row">
                        <h2 class = "p-5">Friends</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <h2 class="p-5">Your Latest Reviews</h2>
                <div class="card-body p-5">
                        <div class="row">
                            {% for review in currentUser.getRating_Reviews()[-10:] %}
                            <div class="card w-100 bg-dark p-5 text-white">
                                <div class="row mb-5">
                                    <img src={{review.show.imgURL}} alt="poster" class="img" style="width: 10%">
                                    
                                    <a href={{review.show.info_link}}>
                                        <button class="btn btn-outline-light btn-block mt-2">
                                            {{review.show.name}}
                                        </button>
                                    </a>
                                    <p class="small mt-3">{{review.date_time}}</p>
                                    <p class="card-text mt-4">Rating : {{review.getInfo()[0]}}/10</p>
                                    <p class="card-text">Review : {{review.getInfo()[1]}}</p>
                                </div>
                            </div>
                            {% endfor %}  
                        </div>
                </div>           
            </div>
        </div>
    </div>
</div>
{% endblock %}