{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- show information-->
<div class="container-fluid">
    <div class="row p-5">
        <!--image card-->
        <div class="col-3 mt-3">
            <div class="card">
                <img src={{poster}} alt="poster" class="">
            </div>
            
        </div>
        <!-- info card-->
        <div class="col-6">
            <div class="card" style="width: 50rem;background-color:rgb(8,8,8); ">
                <div class="card-body text-white">
                  <h1 class="card-title h1">{{title}}</h1>
                  <h6 class="card-subtitle mb-2 pt-5">Year Released: {{released_date}}</h6>
                  <h6 class="card-subtitle mb-2 pt-2">Genre: {{genres}}</h6>
                  <h6 class="card-subtitle mb-2 pt-2">Rating: {{rating}}/10</h6>
                </div>
              </div>
        </div>
        <!--User Controls-->
        <div class="col-3">
            {% if current_user.is_authenticated %}
            <form class="form-white form-outline mb-4" method="POST" action="/add_movie">
                <div class="mb-3">
                    <input type="hidden" name="id" value = "{{id}}">
                    <input type="hidden" name="name" value = "{{title}}">
                    <input type="hidden" name="img" value = "{{poster}}">
                    <input type="hidden" name="link" value = "{{link}}">
                </div>
                <button type="submit" class="btn btn-outline-light btn-lg px-5">Add to Completed Shows</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<!-- Sypnosis-->
<div class="container-fluid" >
    <div class="card ps-5 pe-5 pt-5" style="background-color:rgb(8,8,8);">
        <h1 class="text-white">
            Sypnosis
        </h1>
    </div>
    <div class="card ps-5 pe-5" style="background-color:rgb(8,8,8);">
        <p class="text-white">
            {{sypnosis}}
        </p>
    </div>
</div>
<!--Reviews-->
<div class="container-fluid" >
    <div class="card ps-5 pe-5 pt-5" style="background-color:rgb(8,8,8);">
        <h1 class="text-white">
            Reviews
        </h1>
    </div>
    <div class="card ps-5 pe-5" style="background-color:rgb(8,8,8);">
        <p class="text-white">
            How to do a Prologue 101

            I have been reading the manga since it's release and I was instantly hooked, thus becoming a huge fan of the series. So I am happy to say that the people at Doga Kobo have perfectly captured all the feelings I had while reading the prologue and somehow more. There is truly very few ways I can describe these emotions I have. The best way to understand these feelings though is by watching this 82 minute masterpiece of a prologue! I don't just recommend watching this episode, I demand it. So what are you doing already? Go watch the first episode Oshi no Ko and experience what me and many others felt for the first time.
        </p>
    </div>
</div>
<!--Recommendations-->
<div class="container-fluid" >
    <div class="card ps-5 pe-5 pt-5" style="background-color:rgb(8,8,8);">
        <h1 class="text-white">
            Recommendations
        </h1>
    </div>
    <div class="card ps-5 pe-5" style="background-color:rgb(8,8,8);">
        <p class="text-white">
            Jigokuraku
        </p>
    </div>
</div>

{% endblock %}