{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container mt-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="text-danger">
            {{ messages[0] }}. Go to <a href="/login">login page</a>.
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup">
        <div class="mb-3">
            <label for="inputEmail" class="form-label text-white">Email Address</label>
            <input type="email" name="email" class="form-control" id="inputEmail">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label text-white">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}