{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="POST" action="/signup">
        <div class="mb-3">
            <label for="inputEmail" class="form-label text-white">Email Address</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label text-white">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}