{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container-fluid justify-content-center text-white">
    <div class="container-lg">
        <!--User Information-->
        <div class="row justify-content-start mt-3">
            
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-5">
                            {{profile.name}}
                        </h2>
                        {% if profile.watching %}
                        <h4 class = "mt-3">
                            Currently Watching:
                        </h4>
                        <h4>
                            {{profile.watching}}
                        </h4>
                        {% endif %}
                        {% if profile == current_user %}
                        <p><a href="{{ url_for('auth.profile') }}">
                            <button type= "submit" class="btn btn-outline-light btn-block">
                                Edit your profile
                            </button>
                        </a></p>
                        {% elif not current_user.is_following(profile) %}
                        <p>
                            <a href='/follow/{{profile.id}}'>
                                <button type= "submit" class="btn btn-outline-light btn-block">
                                    Follow
                                </button>
                            </a>
                        </p>
                        {% else %}
                        <p>
                            <a href='/unfollow/{{profile.id}}'>
                                <button type= "submit" class="btn btn-outline-light btn-block">
                                    Unfollow
                                </button>
                            </a>
                        </p>
                        {% endif %}
                    </div>      
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <!--Featured Shows-->
            <div class="col-9">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <div class="row">
                            <h2>Recently Completed Shows</h2>
                            <a href='/view_list/{{profile.id}}/default/Completed'>
                                <button type= "submit" class="btn btn-outline-light btn-block">
                                    View List
                                </button>
                            </a>
                        </div>
                        <!--Recently Completed Shows-->
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="row">
                                {% for show in shows[-5:] %}
                            
                                <div class="col-6 col-md-4 col-lg-2 text-center">
                                    <img src={{show.imgURL}} alt="poster" class="img-fluid">
                                    <a href={{show.info_link}}>
                                        <button class="btn btn-outline-light btn-block mt-1">
                                            {{show.name}}
                                        </button></a>
                                </div>
                                {% endfor %}  
                            </div>
                            
                        </div>
                        <div class="row">
                            <h2>Recently Favourited Shows</h2>
                            <a href='/view_list/{{profile.id}}/default/Favourite'>
                                <button type= "submit" class="btn btn-outline-light btn-block">
                                    View List
                                </button>
                            </a>
                        </div>
                        <!--Recently Favourited Shows-->
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="row">
                                {% for show in shows2[-5:] %}
                            
                                <div class="col-6 col-md-4 col-lg-2 text-center">
                                    <img src={{show.imgURL}} alt="poster" class="img-fluid">
                                    <a href={{show.info_link}}>
                                        <button class="btn btn-outline-light btn-block mt-1">
                                            {{show.name}}
                                        </button></a>
                                </div>
                                {% endfor %}  
                            </div>
                            
                        </div>
                    </div>           
                </div>                 
            </div>
            <!--Friend List-->
            <div class="col-3">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="row p-5">
                        <h2 >Following</h2>
                        {% for user in profile.followed.all()[-5:] %}
                        <div class="row align-items-center">
                            <div class="col-6">
                                <a class="unlink" href="/profile/{{user.id}}">
                                    <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v937-aew-139.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=df5cf03ba78dce75d913bb39d9e75a93" class = "img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <a class="unlink" href="/profile/{{user.id}}">
                                    <h4 class="text-white my-auto">
                                        {{user.name}}
                                    </h4>
                                </a>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <h2 class="p-5">Latest Reviews</h2>
                <div class="card-body p-5">
                        <div class="row">
                            {% for review in profile.getRating_Reviews()[-10:] %}
                            <div class="card w-100 bg-dark p-5 text-white">
                                <div class="row mb-5">
                                    <img src={{review.show.imgURL}} alt="poster" class="img" style="width: 10%">
                                    
                                    <a href={{review.show.info_link}}>
                                        <button class="btn btn-outline-light btn-block mt-2">
                                            {{review.show.name}}
                                        </button>
                                    </a>
                                    <p class="small mt-3">{{review.date_time}}</p>
                                    <p class="card-text mt-4">Rating : {{review.getInfo()[0]}}/10</p>
                                    <p class="card-text">Review : {{review.getInfo()[1]}}</p>
                                </div>
                            </div>
                            {% endfor %}  
                        </div>
                </div>           
            </div>
        </div>
    </div>
</div>
{% endblock %}